name: Sync labels

on:
  workflow_dispatch:
  push:
    branches: [ main ]
    paths:
      - .github/labels.yml
      - .github/workflows/labels.yml

jobs:
  labeler:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      issues: write
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Apply labels from .github/labels.yml
        uses: crazy-max/ghaction-github-labeler@v5
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          yaml-file: .github/labels.yml
          # Set to true if you DON'T want labels removed when they are missing from labels.yml
          skip-delete: true
